body{
    margin: auto;
}
h1{
    text-align: left;
    margin-left: 40px;
    margin-right:70px;
}
.fonti{
    text-align: left;
    font-size: smaller;
    margin-left: 10px;
}
td{
    background-color: rgb(110, 135, 204);
    color: rgb(0, 0, 0);
    border: 0.1;
    
}
th{ background-color: rgb(153, 202, 229);
    color: white;
}
tr{
    background-color: aliceblue;
    color: black;
}
#container{
 background-color: cornflowerblue;
 background-image: url(./pattern.png);
 text-align: left;
 
}

h2{
    color: grey;
}
h3

.image{
 
}
