.logo{

}
h1{
    text-align: left;
    margin-left: 40px;
    margin-right:70px;
}
.fonti{
    text-align: left;
    font-size: smaller;
    margin-left: 10px;
}
td{
    background-color: rgb(87, 144, 250);
    color: white;
    
}
#container{
text-align:left;
margin: 0 auto;
background-color: rgb(103, 170, 224);
background-image: url(/pattern.png);

}
.image{
  position: relative;
}
